#spinner {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(89, 87, 87, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
