body {
    font-family: Arial, Helvetica, sans-serif;
    font-size  : 16px;
    line-height: 1.5;
    font-weight: 400;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    li {
        list-style: none;
    }

    a,
    a:hover {
        text-decoration: none;
    }

    a,
    a i {
        color    : white;
        font-size: 20px;
    }

    a:hover,
    a i:hover {
        color     : red;
        font-size : 20px;
        transition: 0.3s;
    }
    p,h6{
        color: white;
    }

    .container {
        width : 100%;
        margin: 15px auto;
    }

    #spinner {
        position       : fixed;
        width          : 100vw;
        height         : 100vh;
        left           : 0;
        right          : 0;
        bottom         : 0;
        background     : gray;
        display        : flex;
        justify-content: center;
        align-items    : center;
        z-index        : 3;

        .text-spinner {
            color: rgb(213, 142, 168);
        }
    }

    // .col-6 {
    //     padding-left : 0px !important;
    //     padding-right: 0px !important;
    // }

    // .row {
    //     margin-left : 0px !important;
    //     margin-right: 0px !important;
    // }
}

header {
  position   : relative;
  width      : 100%;
  background : #000;
  box-shadow : rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display    : flex;
  align-items: center;
  z-index    : 1;

  .navbar_contents {
      display        : flex;
      justify-content: space-between;

      nav a {
          text-align: center;
      }

      @media screen and (max-width: 767px) {
        justify-content: flex-end;
        li {
          margin-left: 20px;
        }
        i {
          font-size: 16px;
        }
        span {
          display: none;
        }
      }
  }
}

.logo {
  @media screen and (max-width: 767px) {
    i {
      font-size: 16px;
    }
  }
}

.banner {
  position: relative;
  top     : 0;
  left    : 0;
  right   : 0;
  bottom  : 0;

  #carousel .carousel-indicators li {
      width        : 13px;
      height       : 13px;
      border-radius: 50%;
      border       : none;
  }

  #carousel .carousel-indicators .active {
      background-color: rgb(218, 186, 198);
  }

  .carousel-item::before {
      content         : "";
      position        : absolute;
      top             : 0;
      right           : 0;
      left            : 0;
      bottom          : 0;
      width           : 100%;
      height          : 100%;
      background-color: rgba(251, 231, 239, 0.3);

      #carousel .carousel-indicators .active {
          background-color: rgb(218, 186, 198);
      }

      .carousel-item img {
          height    : 600px;
          object-fit: cover;
      }
  }
}

.contents {
  margin: 50px 0;
    .contents_right {
        display        : flex;
        justify-content: space-around;
        padding        : 0 20px;

        .formCheck {
            padding: 5px;
            width        : 100px;
            height       : 45px;
            font-size    : 16px;
            color        : #ad3f67;
            border       : none;
            font-weight  : 400;
            border-radius: 6px;
            background   : #fff;
            outline      : 0;
            border       : 1px solid #ad3f67;
            text-align   : left;
        }



        .form-search {
            display        : flex;
            justify-content: end;
            position       : relative;

            .search {
                .search-input {
                    display      : flex;
                    flex         : 1;
                    padding      : 10px 50px 10px 20px;
                    height       : 45px;
                    font-size    : 16px;
                    color        : #ad3f67;
                    border       : none;
                    font-weight  : 400;
                    border-radius: 6px;
                    position     : relative;
                    right        : 0;
                    background   : #fff;
                    outline      : 0;
                    border       : 1px solid #ad3f67;
                }

                .search_icon {
                  background-color: #ad3f67;
                  width: 50px;
                  height: 45px;
                  border-radius:0 6px 6px 0;
                  position : absolute;
                  top      : 0px;
                  right    : 0px;
                  font-size: 15px;
                  color: #fff;
                  cursor   : pointer;
                }
                @media screen and (max-width: 767px) {
                  .search-input{
                    width: 200px;
                  }
              }
            }
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;
            .formCheck{
              width: 200px;
              margin-bottom: 10px;
            }
        }
    }
    #contents-items{
      padding: 30px;
    }
}

#footer {
  background: linear-gradient(to bottom, #491457, #9f4857);
  width: 100%;
  flex-shrink: 0;
  font-size: 16px;

  a {
    text-decoration: underline;
    font-size: 16px;
  }

  .footer__top {
    padding: 20px;
    border-bottom: 1px solid white;

    p {
      text-align: right;
      margin-right: 20px;
      transform: translateY(10px);
      
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
      font-size: 18px;
      margin: 0;
      margin-left: 30px;
      padding: 0;

      @media screen and (max-width: 767px) {
        margin: 0;
        justify-content: center;
      }
    }
  }

  .footer__main {
    padding: 20px 0;

    i {
      padding-right: 20px;
    }

    ul {
      list-style: none;
      text-align: left;
      padding: 0;

      h6 {
        font-weight: 700;
        padding: 10px 0;

        i {
          font-size: 25px;
        }
      }

      p {
        line-height: 1.5;
      }

      li {
        line-height: 2;
      }
    }

    ul.contact a {
      text-decoration: none;
    }
  }

  .footer__bottom {
    padding: 30px 0;
    background-color: #0000000e;
    text-align: center;

    a {
      font-weight: 700;
    }
  }
}

#cart_show {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0,0.6);
  z-index: 2;
  display: none;
  .side-nav{
    position: absolute;
    right: 10px;
    left: 50%;
    background: #e4e4e4;

    @media screen and (max-width: 767px) {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      .cart-items {
        overflow-x: auto;
      }
    }

    h2{
      text-align: left;
    }
    #btnCart {
      border: none;
      background: none;
      outline: none;
      color: rgb(187, 119, 119);
      cursor: pointer;
      transition: 0.5s;
      i{
        font-size: 35px;
      }
    }
    .final{
      text-align: right;
      .action{
        button{
          margin: 10px;
        }
      }
    }
  }
}

#backTop {
  .cd-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #ad3f67;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    text-align: center;

    &:hover {
      opacity: 1;
    }

    i {
      line-height: 40px;
      padding: 0;
      font-size: 1rem;
    }
  }

  .cd-top--is-visible {
    visibility: visible;
    opacity: 0.5;
  }

  .cd-top--fade-out {
    opacity: .2;
  }
}